.coin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 920px;
    margin: 0 auto;
    border-bottom: 1px solid #d7d7d7;
}

.coin-container:hover {
    transition: .3s;
    background-color: rgba(232, 232, 232, 0.73);
    width: 920px;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 70px;
    width: 900px;
    text-decoration: none;
    color: #000;
    margin-left: 20px;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;

    min-width: 300px;
}

.coin_name {
    font-weight: 500;
    font-size: 16px;
    width: 150px;
}

.coin img {
    height: 28px;
    width: 28px;
    margin-right: 20px;
}

.coin-app {
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: #000000;
}

.coin-search {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.coin-text {
    position: relative;
    top: -40px;
    width: 100px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 500;
}

.coin-input {
    padding-left: 16px;
    position: relative;
    left: 100px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #f4f4f8;
    color: black;
}

.coin-input::placeholder {
    color: black;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    width: 110px;
}

.coin-volume {
    width: 155px;
}

.coin-marketcap {
    width: 230px;
}

.coin-percent {
    width: 100px;
}

.red {
    color: #E35F5E;
}

.green {
    color: #30AE66;
}

.popular_link {
    text-decoration: none;
    color: #014CFF;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 16px;
    padding-bottom: 50px;
    display: flex;
    margin: 0 auto;
}

.coin-link {
    text-decoration: none;
    color: black;
}


.fa-star {
    cursor: pointer;
}

.coin_nothing {
    margin: 0 auto;
    font-size: 22px;
    padding-top: 40px;
    text-align: center;
    font-weight: 400;
}